// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// =========================
// Variables
// =========================

$font-family: "Nunito", sans-serif;
$primary: #ffffff0f;
$primary-dark: #a3a3a30f;

$primaryLight1: #58bbb8;
$primaryLight2: #01c7c3;
$secondary: #141414;
$secondaryLight: #01112f;
$secondaryDark: #010d26;
$text: #e5e5e5;
$text2: #c6c2c2;
$text3: red;
$textDark: #565555;
$accent: #e1461a;
$bg: #141414;
$bgTransparent: transparent;
$itemGrow: 1.2;
$duration: 250ms;
