// ================================
// Main Navigation
// ================================

header {
  background: $bgTransparent;
  padding: 1.8rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    cursor: pointer;
    color: $text3;
  }

  .nav-links {
    list-style-type: none;

    li {
      color: $text;
      display: inline-block;
      padding: 0 1.2rem;
      transition: all 0.3s ease 0s;
      a {
        color: $text;
        transition: all 0.3s ease 0s;

        &:hover {
          color: $text2;
        }
      }
    }
  }
}

// ================================
// Slider Section
// ================================

.sliderParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  // margin: 40px 0;

  img {
    width: 200px;
    height: 300px;
  }
  ul {
    list-style: none;
  }

  ul:hover li {
    transform: translateX(-25%);
  }
  ul:hover li:hover {
    transform: scale(1.2);
    transition-duration: 0.1818181818s;
  }
  ul:hover li:hover ~ li {
    transform: translateX(25%);
  }

  .slider-item {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    list-style: none;

    transition-duration: 0.3s;
    overflow: hidden;
    cursor: pointer;
    border: none;
  }

  .slider-content {
    display: block;
    margin-top: 34px;
    list-style: none;
    // white-space: nowrap;
    // transform: translateY(-50%) translateX(-100px);
    text-align: center;
  }
  .arrow-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    i {
      font-size: 50px;
      color: rgba(128, 128, 128, 0.24);
      cursor: pointer;
    }
  }
}
