// ================================
// Main Navigation
// ================================

header {
  background: $bgTransparent;
  padding: 1.8rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    cursor: pointer;
    color: $text3;
  }

  .nav-links {
    list-style-type: none;

    li {
      color: $text;
      display: inline-block;
      padding: 0 1.2rem;
      transition: all 0.3s ease 0s;
      a {
        color: $text;
        transition: all 0.3s ease 0s;

        &:hover {
          color: $text2;
        }
      }
    }
  }
}

// ================================
// Slider Section
// ================================
.genre-heading {
  margin: 35px auto 10px auto;
  width: 86.5%;
}
.sliderParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  margin: auto;
  width: 95%;

  ul {
    list-style: none;
  }

  ul:hover li {
    transform: translateX(-25%);
  }
  ul:hover li:hover {
    transform: scale(1.2);
    transition-duration: 0.1818181818s;
  }
  ul:hover li:hover ~ li {
    transform: translateX(25%);
  }

  .slider-content {
    display: block;
    list-style: none;
    text-align: center;

    .slider-item {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      list-style: none;
      transition-duration: 0.3s;
      overflow: hidden;
      cursor: pointer;
      border: none;
      padding: 2px;
      .poster {
        opacity: 1;
        display: block;
        width: 250px;
        height: 150px;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }
      .movieDetails {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      &:hover {
        .poster {
          opacity: 0.3;
        }
        .movieDetails {
          opacity: 1;
        }
      }
    }
  }
  .arrow-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    i {
      font-size: 50px;
      color: rgba(128, 128, 128, 0.24);
      cursor: pointer;
    }
  }
}
